* {
  box-sizing: border-box;
}

body{
  background-color: black;
   color: #111827;
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: normal;
  overflow: hidden;
}

.UI{
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 92vh;
  background-color: white;
  overflow: hidden;
}

.contenedorEscena{
  position: relative;
  display: flex;
  border-style: solid;
  border-color: red;
  flex: 1;
  background-color: white;
  background-image: url("https://raw.githubusercontent.com/cCalic04/TMPortal51/refs/heads/main/placeholder8.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.contenedorEscena img {
  position: absolute;
  max-width: 40%; 
  height: auto;
}

.contenedorDialogo{
  
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2%;
flex: 0.5;
  border: 2px dashed red;
}

#torniquete{
  position: absolute;
  top: 57%;
  left: 15%;
  max-width:30%; 
  transform: scaleX(-1);

}

#marcianoV{
  position: absolute;
  top: 65%;
  right: 25%;
  max-width: 30%; 

}

#estudiantesColados{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 40%;
}

#parejaColada{
  position: absolute;
  top: 25%;
  left: 0%;
  max-width: 40%;
}

#chicoColado{
  position: absolute;
  top: 40%;
  left: 35%;
  max-width: 20%;
}

#chicaColada{
  position: absolute;
  top: 40%;
  left: 55%;
  max-width: 25%;
}

.retratoOculto{
  padding: 2%;
  flex: 0.5;
  border: 1px dashed red;
  display: flex;
}


#retrato{
max-width: 30%;
border: 1px dashed red;
}

#retratoimg{

}

#marcianoR, #marcianoV, #estudiantesColados, #parejaColada, #chicoColado, #chicaColada, #nave:hover{
  cursor: pointer;
}

#observar{
  color: red;
}
#linea1{
  margin-left: 1%;
  color: #313131
}